
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.busy_cursor{
  cursor:progress;
}
@font-face {
  font-family: sf-blod;
  src: url("./assets//sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF");
}
@font-face {
  font-family: sf-regular;
  src: url("./assets//sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF");
}